{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}


{% block body %}

<div class="example-wrapper">
    <hr><hr>
    <button type="button" class="btn btn-outline-primary"><a href="{{ path ('user_index')}}">Liste des utilisateurs</a></button>
    <hr>
</div>
<button type="button" class="btn btn-outline-success">Success</button>
{% endblock %}

